<form action="/updateData" method="post">
    <input type="text" hidden name="id" value="<%=data.id%>">
    <input type="text" placeholder="Enter Your Task" value="<%=data.name%>" name="name">
    <input type="text" placeholder="Enter Description" value="<%=data.city%>" name="city">
    <button type="submit">Update</button>
</form>